
# --- Project ---
COMPOSE_PROJECT_NAME=mg

# --- ROS2 ---
# ROS_DOMAIN_ID=30
# ROS_LOCALHOST_ONLY=1

# --- General ---
SIMULATION=true
USE_RVIZ=true
# RVIZ_CONFIG=/root/ros2_ws/src/mg/mg_navigation/rviz/rviz.rviz

# --- GPU (none | nvidia | amd) ---
USE_GPU=none

# --- Data path ---
ROS2_DATA_PATH=/root/ros2_data
MAP_PATH=${ROS2_DATA_PATH}/map
LOCALIZATION_MAP_PATH=${MAP_PATH}/localization_map.yaml
PLANNING_MAP_PATH=${MAP_PATH}/planning_map.yaml
WAYPOINT_PATH=${MAP_PATH}/waypoint.yaml

ROSBAG_PATH=${ROS2_DATA_PATH}/rosbag
ROSBAG_FILE=${ROSBAG_PATH}/my_bag
# ROSBAG_TOPICS=/topic1 /topic2

# if must below env, set it in dockerfile
RMW_IMPLEMENTATION=rmw_cyclonedds_cpp

# --- SLAM Reoptimize ---
INPUT_DIR=${ROS2_DATA_PATH}/map/latest
SAVE_DIR=${ROS2_DATA_PATH}/map/latest_opt
BAG_PATH=${ROSBAG_FILE}