<?xml version="1.0"?>
<library path="libdepth_camera_costmap_layer">
  <class name="horiokart::depth_camera_costmap::DepthCameraCostmapLayer"
         type="horiokart::depth_camera_costmap::DepthCameraCostmapLayer"
         base_class_type="nav2_costmap_2d::Layer">
    <description>Depth camera costmap layer plugin for Navigation2 (costmap_2d).</description>
  </class>
</library>
