<?xml version="1.0" encoding="utf-8"?>

<robot xmlns:xacro="http://ros.org/wiki/xacro" name="mg">

  <xacro:macro name="box_inertia" params="m x y z cx:=0 cy:=0 cz:=0">
    <inertial>
      <origin xyz="${cx} ${cy} ${cz}" rpy="0 0 0"/>
      <mass value="${m}"/>
      <inertia ixx="${m*(y*y+z*z)/12}" ixy="0" ixz="0"
               iyy="${m*(x*x+z*z)/12}" iyz="0"
               izz="${m*(x*x+y*y)/12}"/>
    </inertial>
  </xacro:macro>

  <xacro:macro name="cylinder_inertia" params="m r h">
    <inertial>
      <mass value="${m}"/>
      <inertia ixx="${m*(3*r*r+h*h)/12}" ixy="0" ixz="0"
               iyy="${m*(3*r*r+h*h)/12}" iyz="0"
               izz="${m*r*r/2}"/>
    </inertial>
  </xacro:macro>

  <xacro:macro name="sphere_inertia" params="m r">
    <inertial>
      <mass value="${m}"/>
      <inertia ixx="${2*m*r*r/5}" ixy="0" ixz="0"
               iyy="${2*m*r*r/5}" iyz="0"
               izz="${2*m*r*r/5}"/>
    </inertial>
  </xacro:macro>

  <xacro:macro name="mg_base" params="simulation:=false" >
    <!-- =============== Link & Joint =============== -->
    <!-- Base -->
    <link name="base_footprint">
      <xacro:sphere_inertia m="0.001" r="0.001"/>
    </link>

    <joint name="base_link_joint" type="fixed">
      <origin xyz="0 0 0.15" rpy="0 0 0"/>
      <parent link="base_footprint"/>
      <child link="base_link"/>
    </joint>
    <link name="base_link">
      <visual>
        <origin xyz="-0.2 0 0.1"/>
        <geometry>
          <box size="0.6 0.4 0.3"/>
        </geometry>
      </visual>
      <collision>
        <origin xyz="-0.2 0 0.1"/>
        <geometry>
          <box size="0.6 0.4 0.3"/>
        </geometry>
      </collision>
      <xacro:box_inertia m="20.0" x="0.6" y="0.4" z="0.3" cx="-0.2" cy="0" cz="0.1"/>
    </link>

    <joint name="right_wheel_joint" type="continuous">
      <axis xyz="0 0 1"/>
      <origin rpy="-1.5708 0 0" xyz="0 -0.25 0"/>
      <parent link="base_link"/>
      <child link="right_wheel_link"/>
    </joint>
    <link name="right_wheel_link">
      <visual>
        <geometry>
          <cylinder length="0.05" radius="0.15"/>
        </geometry>
      </visual>
      <collision>
        <geometry>
          <cylinder length="0.05" radius="0.15"/>
        </geometry>
      </collision>
      <xacro:cylinder_inertia m="1.0" r="0.15" h="0.05"/>
    </link>

    <joint name="left_wheel_joint" type="continuous">
      <axis xyz="0 0 1"/>
      <origin rpy="-1.5708 0 0" xyz="0 0.25 0"/>
      <parent link="base_link"/>
      <child link="left_wheel_link"/>
    </joint>
    <link name="left_wheel_link">
      <visual>
        <geometry>
          <cylinder length="0.05" radius="0.15"/>
        </geometry>
      </visual>
      <collision>
        <geometry>
          <cylinder length="0.05" radius="0.15"/>
        </geometry>
      </collision>
      <xacro:cylinder_inertia m="1.0" r="0.15" h="0.05"/>
    </link>

    <joint name="caster_joint" type="fixed">
      <origin rpy="0 0 0" xyz="-0.45 0 -0.1"/>
      <parent link="base_link"/>
      <child link="caster_link"/>
    </joint>
    <link name="caster_link">
      <visual>
        <geometry>
          <sphere radius="0.05"/>
        </geometry>
      </visual>
      <collision>
        <geometry>
          <sphere radius="0.05"/>
        </geometry>
      </collision>
      <xacro:sphere_inertia m="0.5" r="0.05"/>
    </link>

    <xacro:if value="${simulation}">
      <gazebo reference="base_link">
        <preserveFixedJoint>true</preserveFixedJoint>
      </gazebo>
      <gazebo reference="right_wheel_link">
        <mu1>1.0</mu1>
        <mu2>0.5</mu2>
        <kp>1e6</kp>
        <kd>100.0</kd>
      </gazebo>
      <gazebo reference="left_wheel_link">
        <mu1>1.0</mu1>
        <mu2>0.5</mu2>
        <kp>1e6</kp>
        <kd>100.0</kd>
      </gazebo>
      <gazebo reference="caster_link">
        <mu1>0.0</mu1>
        <mu2>0.0</mu2>
        <kp>1e6</kp>
        <kd>100.0</kd>
      </gazebo>
      <gazebo>
        <plugin filename="ignition-gazebo-diff-drive-system"
                name="ignition::gazebo::systems::DiffDrive">
          <left_joint>left_wheel_joint</left_joint>
          <right_joint>right_wheel_joint</right_joint>
          <wheel_separation>0.5</wheel_separation>
          <wheel_radius>0.15</wheel_radius>
          <topic>/cmd_vel</topic>
          <odom_topic>/odom</odom_topic>
          <tf_topic>/tf</tf_topic>
          <frame_id>odom</frame_id>
          <child_frame_id>base_footprint</child_frame_id>
          <odom_publish_frequency>20</odom_publish_frequency>
          <publish_odom_tf>false</publish_odom_tf>
        </plugin>
      </gazebo>
    </xacro:if>

  </xacro:macro>

</robot>
