<?xml version="1.0" encoding="UTF-8"?>
<launch>
  <param name="use_sim_time" value="true"/>
  <param name="hj_simulation" value="true"/>

  <include file="$(find ros_tcp_endpoint)/launch/endpoint.launch">
  <!--
  <arg name="tcp_ip" value="192.168.235.191"/>
  -->
  </include>
  <!--
  <include file="$(find horiokart2021_simulator_client)/launch/vtc_odom2tf.launch"></include>
  -->
</launch>