<launch>

    <!-- 
        ###############################
        base params
        ###############################
    -->
    <arg name="simulation" default="false"/>

    <arg name="use_odom" default="true"/>
    <arg name="odom_port" default="/dev/ttyHoriokart-Odom"/>

    <arg name="use_lidar" default="true"/>
    <arg name="front_rplidar_port" default="/dev/ttyHoriokart-FrontLidar"/>
    <arg name="top_rplidar_port" default="/dev/ttyHoriokart-TopLidar"/>

    <arg name="use_gps" default="true"/>
    <arg name="gps_port" default="/dev/ttyHoriokart-gps"/>

    <arg name="use_rs_d435i" default="false"/>
    <arg name="use_imu" default="false"/>

    <arg name="use_rs_d435" default="false"/>

    <arg name="use_ekf" default="false"/>

    <!-- 
        ###############################
        hardware sensor drivers
        ###############################
    -->
    <group unless="$(arg simulation)">

        <!-- Odometry -->
        <group if="$(arg use_odom)">

            <node pkg="horiokart2021_sensors" type="serial_odom" name="serial_odom" output="screen">
                <param name="device_name" type="string" value="$(arg odom_port)" />
                <param name="odom_frame" type="string" value="odom" />
                <param name="base_frame" type="string" value="base_footprint" />
                <param name="odom_pub_rate" type="int" value="10" />

                <param name="inv_x" type="bool" value="true" />
                <param name="inv_y" type="bool" value="true" />
                <param name="inv_th" type="bool" value="false" />

                <param name="csv" type="bool" value="true" />
            </node>

        </group>

        <!-- rplidar -->
        <group if="$(arg use_lidar)">
            
            <!-- rplidar A1 -->
            <node name="front_rplidarNode" pkg="rplidar_ros"  type="rplidarNode" output="screen">
                <remap from="scan" to="scan_front_lrf" />
                <param name="serial_port"         type="string" value="$(arg front_rplidar_port)"/>
                <param name="serial_baudrate"     type="int"    value="115200"/><!--A1/A2 -->
                <param name="frame_id"            type="string" value="front_lrf_link"/>
                <param name="inverted"            type="bool"   value="false"/>
                <param name="angle_compensate"    type="bool"   value="true"/>
            </node>

            <!-- rplidar S2 -->
            <node name="top_rplidarNode" pkg="rplidar_ros"  type="rplidarNode" output="screen">
                <remap from="scan" to="scan_top_lrf" />
                <param name="serial_port"         type="string" value="$(arg top_rplidar_port)"/>
                <param name="serial_baudrate"     type="int"    value="1000000"/>
                <param name="frame_id"            type="string" value="top_lrf_link"/>
                <param name="inverted"            type="bool"   value="false"/>
                <param name="angle_compensate"    type="bool"   value="true"/>
            </node>

        </group>

        <!-- GPS -->
        <group if="$(arg use_gps)">

            <node name="gps_serial_driver" pkg="nmea_navsat_driver"  type="nmea_topic_serial_reader" output="screen">
                <remap from="nmea_sentence" to="/gps/nmea_sentence"/>
                <param name="port"  type="string"   value="$(arg gps_port)"/>
                <param name="baud"  type="int"   value="38400"/>
                <param name="frame_id"  type="string"   value="gps_link"/>
            </node>

        </group>

        <!-- Realsense D435 -->
        <!-- Realsense D435i -->
        <group if="$(arg use_rs_d435i)">

            <include file="$(find realsense2_camera)/launch/rs_aligned_depth.launch">
                <arg name="serial_no" value=""/>
            </include>

        </group>
    </group>

    <!-- 
        ###############################
        sensors processing node 
        -> also using in simulation
        ###############################
    -->
    
    <!-- odom -->
    <group if="$(arg use_odom)">
    <!--<group if="$(eval use_odom and not use_ekf)">-->

        <node pkg="horiokart2021_sensors" type="hj_sensor_odom2tf" name="odom2tf">
            <param name="odom_frame" type="string" value="odom"/>
            <remap from="odom" to="odom"/>
        </node>

    </group>

    <!-- rplidar -->
    <group if="$(arg use_lidar)">

        <include file="$(find horiokart2021_sensors)/launch/laser_filter.launch"></include>

    </group>

    <!-- GPS -->
    <group if="$(arg use_gps)">

        <node name="gps_topic_driver" pkg="nmea_navsat_driver" type="nmea_topic_driver" output="screen">
            <remap from="nmea_sentence" to="/gps/nmea_sentence"/>
            <remap from="fix" to="/gps/fix"/>
            <param name="time_ref_source" type="string" value="gps"/>
        </node>

    </group>

    <!-- EKF -->
    <group if="$(arg use_ekf)">
    
        <node name="ekf_localization_odom" pkg="robot_localization" type="ekf_localization_node">
            <rosparam command="load" file="$(find horiokart2021_sensors)/config/ekf_odom_params.yaml" />

            <remap from="odometry/filtered" to="ekf_odom"/>
        </node>

        <node name="navsat_transform_node" pkg="robot_localization" type="navsat_transform_node" >
            <rosparam command="load" file="$(find horiokart2021_sensors)/config/navsat_transform_params.yaml" />

            <!--<remap from="imu/data" to=""/>-->
            <remap from="odometry/filtered" to="ekf_odom"/>
            <remap from="gps/fix" to="/gps/fix"/>
        </node>


    </group>

</launch>
