<?xml version="1.0" encoding="utf-8"?>

<robot xmlns:xacro="http://ros.org/wiki/xacro" name="horiokart_v2">

  <xacro:macro name="lidar_2d" params=" prefix:='' attach_to:='' rpy:='0 0 0' xyz:='0 0 0' length='0.05' radius='0.05' simulation:=false sensor_name:='lidar' ">

    <xacro:unless value="${attach_to == ''}">
      <joint name="${prefix}lrf_link_joint" type="fixed">
        <parent link="${attach_to}"/>
        <child link="${prefix}lrf_link"/>
        <origin xyz="${xyz}" rpy="${rpy}"/>
      </joint>
    </xacro:unless>

    <link name="${prefix}lrf_link">
      <visual>
        <geometry>
          <cylinder length="${length}" radius="${radius}"/>
        </geometry>
      </visual>
    </link>

    <xacro:if value="${simulation}">
      <gazebo reference="${prefix}lrf_link">
        <sensor name="${sensor_name}_lidar" type="gpu_lidar">
          <update_rate>10</update_rate>
          <topic>/${sensor_name}_lidar_scan</topic>
          <ignition_frame_id>${prefix}lrf_link</ignition_frame_id>
          <lidar>
            <scan>
              <horizontal>
                <samples>360</samples>
                <resolution>1</resolution>
                <min_angle>-3.14159</min_angle>
                <max_angle>3.14159</max_angle>
              </horizontal>
            </scan>
            <range>
              <min>0.1</min>
              <max>30.0</max>
              <resolution>0.01</resolution>
            </range>
          </lidar>
          <alwaysOn>true</alwaysOn>
          <visualize>true</visualize>
        </sensor>
      </gazebo>
    </xacro:if>

  </xacro:macro>

  <xacro:macro name="lidar_3d" params=" prefix:='' attach_to:='' rpy:='0 0 0' xyz:='0 0 0' length='0.05' radius='0.05' ">

    <xacro:unless value="${attach_to == ''}">
      <joint name="${prefix}lidar_link_joint" type="fixed">
        <parent link="${attach_to}"/>
        <child link="${prefix}lidar_link"/>
        <origin xyz="${xyz}" rpy="${rpy}"/>
      </joint>
    </xacro:unless>

    <link name="${prefix}lidar_link">
      <visual>
        <geometry>
          <cylinder length="${length}" radius="${radius}"/>
        </geometry>
      </visual>
    </link>

  </xacro:macro>

  <xacro:macro name="gps" params=" prefix:='' attach_to:='' rpy:='0 0 0' xyz:='0 0 0' length='0.05' radius='0.05' simulation:=false ">

    <xacro:unless value="${attach_to == ''}">
      <joint name="${prefix}gps_link_joint" type="fixed">
        <parent link="${attach_to}"/>
        <child link="${prefix}gps_link"/>
        <origin xyz="${xyz}" rpy="${rpy}"/>
      </joint>
    </xacro:unless>

    <link name="${prefix}gps_link">
      <visual>
        <geometry>
          <cylinder length="${length}" radius="${radius}"/>
        </geometry>
      </visual>
    </link>

    <xacro:if value="${simulation}">
      <gazebo reference="${prefix}gps_link">
        <sensor name="navsat" type="navsat">
          <update_rate>1</update_rate>
          <topic>/navsat</topic>
          <ignition_frame_id>${prefix}gps_link</ignition_frame_id>
          <alwaysOn>true</alwaysOn>
        </sensor>
      </gazebo>
    </xacro:if>

  </xacro:macro>

  <xacro:macro name="realsense_d435" params=" prefix:='' attach_to:='' rpy:='0 0 0' xyz:='0 0 0' size='0.02 0.05 0.02' ">

    <xacro:unless value="${attach_to == ''}">
      <joint name="${prefix}rs_d435_link_joint" type="fixed">
        <parent link="${attach_to}"/>
        <child link="${prefix}rs_d435_link"/>
        <origin xyz="${xyz}" rpy="${rpy}"/>
      </joint>
    </xacro:unless>

    <link name="${prefix}rs_d435_link">
      <visual>
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <geometry>
          <box size="${size}"/>
        </geometry>
      </visual>
    </link>

  </xacro:macro>

  <xacro:macro name="realsense_d435i" params=" prefix:='' attach_to:='' rpy:='0 0 0' xyz:='0 0 0' size='0.02 0.05 0.02' simulation:=false ">

    <xacro:include filename="$(find realsense2_description)/urdf/_d435.urdf.xacro" />

    <xacro:unless value="${attach_to == ''}">

      <!-- <joint name="${prefix}rs_d435i_link_joint" type="fixed"> -->
      <joint name="${prefix}camera_link_base_joint" type="fixed">

        <parent link="${attach_to}"/>

        <child link="${prefix}camera_link_base"/>
        <!-- <child link="${prefix}rs_d435i_link"/> -->

        <origin xyz="${xyz}" rpy="${rpy}"/>
      </joint>
    </xacro:unless>

    <!-- <link name="${prefix}rs_d435i_link"> -->
    <link name="${prefix}camera_link_base">
      <visual>
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <geometry>
          <box size="${size}"/>
        </geometry>
      </visual>
    </link>

    <xacro:unless value="${simulation}">
      <xacro:sensor_d435 parent="${prefix}camera_link_base" name="camera" use_nominal_extrinsics="true" add_plug="false" use_mesh="false">
        <origin xyz="0 0 0" rpy="0 0 0"/>
      </xacro:sensor_d435>
    </xacro:unless>

    <xacro:if value="${simulation}">
      <gazebo reference="${prefix}camera_link_base">
        <sensor name="rgbd_camera" type="rgbd_camera">
          <update_rate>6</update_rate>
          <topic>/rgbd_camera</topic>
          <ignition_frame_id>${prefix}camera_link_base</ignition_frame_id>
          <camera>
            <horizontal_fov>1.5184</horizontal_fov>
            <image>
              <width>848</width>
              <height>480</height>
            </image>
            <clip>
              <near>0.1</near>
              <far>10.0</far>
            </clip>
          </camera>
          <alwaysOn>true</alwaysOn>
          <visualize>true</visualize>
        </sensor>
      </gazebo>
    </xacro:if>

  </xacro:macro>

</robot>
