<launch>
    <!-- Arguments -->
    <arg name="open_rviz" default="false"/>

    <!-- robot -->
    <arg name="urdf_model" default="$(find horiokart2021_description)/urdf/robot_description.urdf" />

    <param name="robot_description" textfile="$(arg urdf_model)" />

    <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher" />
    <node name="robot_state_publisher" pkg=
    "robot_state_publisher" type="robot_state_publisher" />

    <!-- rviz -->
    <group if="$(arg open_rviz)"> 
        <node pkg="rviz" type="rviz" name="rviz" required="true"
                args="-d $(find horiokart2021_description)/rviz/display.rviz"/>
    </group>
</launch>
