<launch>
  <!-- Arguments -->
  <arg name="map_file" default="$(env MAP_PATH)"/>
  <arg name="rviz" default="false"/>
  <arg name="move_forward_only" default="false"/>

  <!--<arg name="simulation" default="$(eval (import sim_eval;sim_eval.get_bool_param()))"/>-->
  <arg name="simulation" default="false"/>

  <!-- robot -->
  <include file="$(find horiokart2021_description)/launch/horiokart_description.launch"></include>

  <!-- Odom, rplidar -->
  <include file="$(find horiokart2021_sensors)/launch/sensors.launch">
    <arg name="simulation" value="$(arg simulation"/>
  </include>

  <group unless="$(arg simulation)"> 
    <!-- motordriver -->
    <include file="$(find horiokart2021_sensors)/launch/motordriver.launch"></include>
  </group>

  <!-- Map server -->
  <node pkg="map_server" name="map_server" type="map_server" args="$(arg map_file)">
    <!-- Topic Name -->
    <remap from="map" to="/map" />
    <remap from="map_metadata" to="/map_metadata" />
    <!-- Frame Name -->
    <param name="frame_id" value="map" />
  </node>

  <!-- AMCL -->
  <include file="$(find horiokart2021_navigation)/launch/amcl.launch">
    <arg name="scan_topic" value="scan_filtered/scan_top_lrf" />
  </include>

  <!-- move_base -->
  <include file="$(find horiokart2021_navigation)/launch/move_base.launch">
    <arg name="move_forward_only" value="$(arg move_forward_only)"/>
    <arg name="cmd_vel_topic" value="/cmd_vel"/>
  </include>

  <!-- rviz -->
  <group if="$(arg rviz)"> 
    <node pkg="rviz" type="rviz" name="rviz" required="true"
          args="-d $(find horiokart2021_navigation)/rviz/navigation.rviz"/>
  </group>
</launch>
