<launch>
    <!-- Arguments -->
    <arg name="slam_methods" default="gmapping" doc="slam type [gmapping, cartographer, hector]"/>
    <arg name="rviz" default="false"/>

    <arg name="simulation" default="false"/>

    <!-- robot -->
    <include file="$(find horiokart2021_description)/launch/horiokart_description.launch"></include>

    <!-- Odom, rplidar -->
    <include file="$(find horiokart2021_sensors)/launch/sensors.launch">
    <arg name="simulation" value="$(arg simulation)"/>
    </include>

    <!-- rplidar S2 scan point reduce-->
    <node name="top_rplidar_reducer" pkg="horiokart2021_sensors" type="laser_reducer.py" output="screen">
        <remap from="scan" to="/scan_filtered/scan_top_lrf"/>
        <remap from="scan_reduced" to="/scan_reduced/scan_filtered/scan_top_lrf"/>
        <param name="skip_num" type="int" value="2"/>
    </node>
    <!-- number of points using in slam -->
    <node name="top_rplidar_reducer_matching_point" pkg="horiokart2021_sensors" type="laser_reducer.py" output="screen">
        <remap from="scan" to="/scan_filtered/scan_top_lrf"/>
        <remap from="scan_reduced" to="/scan_reduced/scan_filtered/scan_top_lrf_matching_point"/>
        <param name="skip_num" type="int" value="14"/>
    </node>


    <!-- SLAM: Gmapping -->
    <include file="$(find horiokart2021_slam)/launch/$(arg slam_methods).launch">
        <!--<arg name="set_scan_topic"  value="scan_filtered/scan_top_lrf"/>-->
        <arg name="set_scan_topic"  value="/scan_reduced/scan_filtered/scan_top_lrf"/>
    </include>

    <!-- rviz -->
    <group if="$(arg rviz)"> 
        <node pkg="rviz" type="rviz" name="rviz" required="true"
                args="-d $(find horiokart2021_slam)/rviz/slam.rviz"/>
    </group>
</launch>
